{% extends 'portal/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'portal/css/orders_list.css' %}">
{% endblock %}

{% block content %}

<div class="container space-around flex">
    <h5 class="orders subtitle text-center">GERAL | Clientes</h5>
    <button type="button" class="btn btn-secondary btn-sm btn-incluir">INCLUIR</button>
</div>
<div class="container table-responsive">
    <table id="orders" class="table table-striped  orders table-center">
        <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Endereço</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>26/06/2020</td>
            <td>Denison Caramori</td>
            <td>(24) 2424-2424</td>
            <td>Rua Galeria, 105 - Campinas</td>
        </tr>
        <tr>
            <td>26/06/2020</td>
            <td>Denison Caramori</td>
            <td>(24) 2424-2424</td>
            <td>Rua Galeria, 105 - Campinas</td>
        </tr><tr>
            <td>26/06/2020</td>
            <td>Denison Caramori</td>
            <td>(24) 2424-2424</td>
            <td>Rua Galeria, 105 - Campinas</td>
        </tr><tr>
            <td>26/06/2020</td>
            <td>Denison Caramori</td>
            <td>(24) 2424-2424</td>
            <td>Rua Galeria, 105 - Campinas</td>
        </tr><tr>
            <td>26/06/2020</td>
            <td>Denison Caramori</td>
            <td>(24) 2424-2424</td>
            <td>Rua Galeria, 105 - Campinas</td>
        </tr><tr>
            <td>26/06/2020</td>
            <td>Denison Caramori</td>
            <td>(24) 2424-2424</td>
            <td>Rua Galeria, 105 - Campinas</td>
        </tr><tr>
            <td>26/06/2020</td>
            <td>Denison Caramori</td>
            <td>(24) 2424-2424</td>
            <td>Rua Galeria, 105 - Campinas</td>
        </tr><tr>
            <td>26/06/2020</td>
            <td>Denison Caramori</td>
            <td>(24) 2424-2424</td>
            <td>Rua Galeria, 105 - Campinas</td>
        </tr><tr>
            <td>26/06/2020</td>
            <td>Denison Caramori</td>
            <td>(24) 2424-2424</td>
            <td>Rua Galeria, 105 - Campinas</td>
        </tr><tr>
            <td>26/06/2020</td>
            <td>Denison Caramori</td>
            <td>(24) 2424-2424</td>
            <td>Rua Galeria, 105 - Campinas</td>
        </tr><tr>
            <td>26/06/2020</td>
            <td>Denison Caramori</td>
            <td>(24) 2424-2424</td>
            <td>Rua Galeria, 105 - Campinas</td>
        </tr><tr>
            <td>26/06/2020</td>
            <td>Denison Caramori</td>
            <td>(24) 2424-2424</td>
            <td>Rua Galeria, 105 - Campinas</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'portal/js/orders_list.js' %}"></script>
{% endblock %}