{% extends 'portal/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'portal/css/order.css' %}">
{% endblock %}

{% block content %}
<div class="container space-around flex">
    <h5 class="orders subtitle text-center">PEDIDO | Novo</h5>
    <button type="button" class="btn btn-secondary btn-sm btn-salvar">SALVAR</button>
</div>
<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Cliente</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option disabled selected>Selecione</option>
                <option>Leonardo Romanini</option>
                <option>Denison Caramori</option>
                <option>Leonardo Romanini</option>
                <option>Denison Caramori</option>
                <option>Leonardo Romanini</option>
                <option>Denison Caramori</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ambiente">Ambiente</label>
            <textarea class="form-control" id="ambiente" rows="3"></textarea>
        </div>
        <section class="container flex row space-between">
            <div class="item">
                <p>Fogão</p>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                </div>
            </div>
            <div class="item">
                <p>Coifa</p>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                </div>
            </div>
            <div class="item">
                <p>Microondas</p>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                </div>
            </div>
        </section>
        <section class="container flex row space-between">
            <div class="item">
                <p>Geladeira</p>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                </div>
            </div>
            <div class="item">
                <p>Forno</p>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                </div>
            </div>
            <div class="item">
                <p>Batedeira</p>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                </div>
            </div>
        </section>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'portal/js/order.js' %}"></script>
{% endblock %}