{% extends 'portal/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'portal/css/order.css' %}">
{% endblock %}

{% block content %}
<div class="container space-around flex">
    <h5 class="orders subtitle text-center">PEDIDO | Novo</h5>
    <button type="button" class="btn btn-secondary btn-sm btn-salvar">SALVAR</button>
</div>
<div class="container">
    <form>
        <div class="form-group">
            <label for="cliente">Cliente</label>
            <input type="text" class="form-control" id="cliente">
        </div>
        <div class="form-group">
            <label for="ambiente">Obervações Gerais</label>
            <textarea class="form-control" id="ambiente" rows="3"></textarea>
        </div>
    </form>

    <div class="container space-around flex">
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Adicionar
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>

        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Consultar
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>

    </div>

    <div id="carouselRoom" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h5 class="orders subtitle text-center">VARANDA GOURMET</h5>
                <div class="flex space-between flex-wrap">
                    <div>
                        <label>Revestimento</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Espessura</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Misturador</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Cubas</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Revestimento</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Espessura</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Misturador</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Cubas</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Misturador</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Cubas</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <section class="container flex row space-between">
                    <div class="item">
                        <p>Fogão</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                        </div>
                    </div>
                    <div class="item">
                        <p>Coifa</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                        </div>
                    </div>
                    <div class="item">
                        <p>Microondas</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                        </div>
                    </div>
                </section>
                <section class="container flex row space-between">
                    <div class="item">
                        <p>Geladeira</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                        </div>
                    </div>
                    <div class="item">
                        <p>Forno</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                        </div>
                    </div>
                    <div class="item">
                        <p>Batedeira</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                        </div>
                    </div>
                </section>
            </div>
            <div class="carousel-item">
                <h5 class="orders subtitle text-center">COZINHA</h5>
                <div class="flex space-between flex-wrap">
                    <div>
                        <label>Revestimento</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Espessura</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Misturador</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Cubas</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Revestimento</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Espessura</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Misturador</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Cubas</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Misturador</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label>Cubas</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <section class="container flex row space-between">
                    <div class="item">
                        <p>Fogão</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                        </div>
                    </div>
                    <div class="item">
                        <p>Coifa</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                        </div>
                    </div>
                    <div class="item">
                        <p>Microondas</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                        </div>
                    </div>
                </section>
                <section class="container flex row space-between">
                    <div class="item">
                        <p>Geladeira</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                        </div>
                    </div>
                    <div class="item">
                        <p>Forno</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                        </div>
                    </div>
                    <div class="item">
                        <p>Batedeira</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselRoom" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselRoom" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <ol class="carousel-indicators">
            <li data-target="#carouselRoom" data-slide-to="0" class="active"></li>
            <li data-target="#carouselRoom" data-slide-to="1"></li>
        </ol>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="{% static 'portal/js/order.js' %}"></script>
{% endblock %}